<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Icon</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @skills.each.with_index do |skill, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= skill.name %></td>
      <td><%= skill.description %></td>
      <td><%= skill.icon %></td>
      <td><%= link_to "Edit", edit_skill_path(skill) %></td>
      <td><%= link_to "Delete", skill_path(skill), data: {turbo_method: :delete} %></td>
    </tr>
    <% end %>
    
  </tbody>
</table>

<%= link_to "New skill", new_skill_path %>